<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div >
  <img src="/assets/rosie-fraser-1L71sPT5XKc-unsplash.jpg" alt="">
   
<h1>Registration Form</h1>
        <form [formGroup]='user' (ngSubmit)="onSubmit()">
          <div class="first">
                  <label class="lable">First Name : 
                    <input class="in"type="text" formControlName = 'firstname'>
                  </label>
                  
                  
                  <label class="lable">Last Name : 
                    <input class="in"type="text" formControlName = 'lastname'>
                  </label>
                  
                  
                  <label class="lable">Age : 
                    <input class="in"type="text" formControlName = 'age'>
                  </label>
                  
                  
                  <label class="lable">Sex : 
                    <input class="in"type="text" formControlName = 'sex'>
                  </label>
                  
                  
                  <label class="lable">Email Id : 
                    <input class="in"type="text" formControlName = 'email'>
                  </label>
      </div>

          <div class="second "formGroupName='address'>
                <h2>Address</h2>
              <div class="mob"> 
                <label class="lable">Address Line 1 : 
                  <input class="in" type="text" formControlName = 'address1'>
                </label>
                
                <label class="lable">Address Line 2 : 
                  <input class="in" type="text" formControlName = 'address2'>
                </label>
                
                <label class="lable">Pin : 
                  <input class="in" type="text" formControlName = 'pin'>
                </label>
              </div> 
          </div>
          <div class="third"formArrayName='mobile'>
                    <h2>Mobile</h2>
                    
                    <div class="mob"*ngFor="let mob of mobiles.controls; let i =index;">
                      <label class="lable">Mobile {{i+1}}:</label> 
                        <input class="in"type="text" [formControlName] = 'i'>
                        <button type="button" class="remove" (click)="remove(i)">Remove</button>
                        
                    </div>
                    <!-- <div class="mob" *ngFor="let mob of mobiles.controls; let i = index;">
                    
                    </div> -->
                    
                    <button class="add "(click)='addbtn()' >Add</button>
                    
          </div>
          
          
          <button type="submit" class="btn btn-primary" [disabled]='!user.valid'>Submit</button>

      </form>
    </div>  

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>